//base
$baseFontSize: 14px;
$baseFontFamily: Tahoma, Geneva, sans-serif;

//colors

$plainBgColor: #fff;
$mainBgColor: #333;
$secondaryBgColor: #fec544;

//font colors
$baseFontColor: #323232;
$alternativeFontColor: #fff;

//paddings
$basePadding: 12px;
$basePaddingHalf: $basePadding / 2;
$basePaddingDouble: $basePadding * 2;

$boxHorizontalPadding: 10px;
$boxVerticalPadding: 12px;


body {
	font-size: $baseFontSize;
	font-family: $baseFontFamily;
	background: $plainBgColor;
}