<!-- would reconsider to use A2 pipes -->

<div class="box next-races">
	<ul class="filters">
		<li class="icon-race-type-g" (click)="setFiltering();" [ngClass]="displayTypeGClass"></li>
		<li class="icon-race-type-j" (click)="setFiltering();" [ngClass]="displayTypeJClass"></li>
		<li class="icon-race-type-t" (click)="setFiltering();" [ngClass]="displayTypeTClass"></li>
		<li class="icon-race-type-d" (click)="setFiltering();" [ngClass]="displayTypeDClass"></li>
	</ul>
	<div class="next-races__title">
		<div class="next-races__place">
			<img src="/flags/{{nextRacesData.event.country}}.png"> {{ nextRacesData.event.title }}
			<span class="time">{{ nextRacesData.diff_time }} min</span>
		</div>
		<div class="next-races__info">
			<span class="next-races__runners">
				{{ nextRacesData.num_runners }} runners
			</span>
			<span class="next-races__distance">
				{{ nextRacesData.distance }}m
			</span>
			<span class="next-races__prize">
				{{ nextRacesData.purse.amount }} {{ nextRacesData.purse.currency }}
			</span>
			<span class="next-races__type-icon icon-race-type-{{nextRacesData.race_type.toLowerCase()}}">

			</span>
		</div>
	</div>
	<ul class="next-races__bet-list">
		<li *ngFor="let runner of nextRacesData.runners">
			<img *ngIf="runner.silk !== ''" src="/silks/{{runner.silk}}">
			<span class="next-races__bet-list__name">{{name}}</span>

			<span class="next-races__bet-list__odds">{{runner.odds.toFixed(2)}}</span>
		</li>
	</ul>
</div>