$moduleName: 'next-races';
$moduleColorVariant: #383838;
$moduleBorderColor: #333;
$listColor: #686868;
$flagueBorderColor: #C6C6C4;


.#{$moduleName} {
	font-size: 11px;
	position: relative;

	&__wrapper {
		@include standardBox($moduleColorVariant);
		background: $moduleColorVariant;
		transition: opacity 0.8s linear;
		visibility: hidden;
		opacity: 0;
		max-height: 0;
		overflow: hidden;
		position: absolute;
		z-index: 1;
		top: 55px;

		&.active {
			position: static;
			opacity: 1;
			max-height: 1000px;
			z-index: 2;
			visibility: visible;
		}
	}

	&__title {
		font-weight:bold;
		padding: $basePadding $basePaddingHalf;

		.time {
			float: right;
			font-weight: normal;
		}
	}

	&__place {
		border-bottom: 2px solid #666;
		padding: 0 4px 12px;

		img {
			border: 1px solid $flagueBorderColor;
			vertical-align: top;
			margin-right: 9px;
		}
	}

	&__info {
		padding: $basePadding 4px 3px;
		overflow: hidden;

		span {
			font-weight: normal;
			float: left;
			border-right: 1px solid #666;
			padding: 2px 5px;	

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				float:right;
				min-width: 40px;
				height: 15px;
				color: #fff;
				border: none;
				font-size: 21px;
				padding:0 ;
				text-align:right;
			}
		}
		span.#{$moduleName}__prize {
			border-right: none;
		}
	}



	&__bet-list {
		color: $listColor;
		list-style: none;
		background: #fff;
		padding: 0;
		margin: 0; 

		li {
			padding: $basePadding 8px;
			border-bottom: 2px solid #ccc;
			vertical-align: middle;
			height: 20px;
			line-height: 20px;
			cursor: pointer;
			transition: background $basicAnimationSpeed;

			&:last-child {
				border: none;
			}

			&:hover {
				background: #eee;
			}
		}

		&__name {
			display: inline-block;
		}

		img {
			width: 20px;
			height: 20px;
		}
		img ~ &__name {
			position: relative;
			top: -6px;
			padding-left: $basePaddingHalf;
		}

		&__odds {
			@include goldenButton;
			float: right;
			min-width: 14px;
		}
	}
}

.filters {
	margin: $basePaddingHalf 0;
	box-sizing: border-box;
	background: $moduleColorVariant;
	@include standardBox($moduleColorVariant);
	border-width: 8px;
	border-radius: 0;

	ul {
		overflow: hidden;
		border-radius: 3px;
		display: flex;
		background: #fff;
		list-style: none;
		padding: 0;
		margin: 0;
		border: 1px solid #ccc;
	}
	

	li {
		flex-basis: 25%;
		box-sizing: border-box;
		font-size: 30px;
		height: 30px;
		color: #ddd;
		text-align:center;
		border-right: 1px solid #ccc;
		cursor: pointer;
		position: relative;
		padding-left: 7px;
		@include transitionAnimation;


		&:after {
			position: absolute;
			content: ' ';
			background: #ddd;
			border-radius: 50%;
			width: 6px;
			height: 6px;
			top: 13px;
			left: 5px;
			transition: background-color $basicAnimationSpeed linear;

		}

		&:before {
			position: relative;
			top: -1px;
		}


		&:last-child {
			border-right: none;
		}

		&.active {
			color: #333;

			&:after {
				&:hover {
					background: #ddd;
				}
			}

			&:nth-child(1) {
				&:after {
					background: #3F8E17;
				}
			}
			&:nth-child(2) {
				&:after {
					background: #2A51D2;
				}
			}
			&:nth-child(3) {
				&:after {
					background: #EF7560;
				}
			}
			&:nth-child(4) {
				&:after {
					background: #FDBC58
				}
			}
		}
	}
}
