<div class="box next-races">
	<div class="filters">
		<ul>
			<li class="icon-race-type-g" (click)="setFiltering('G');" [ngClass]="displayTypeGClass"></li>
			<li class="icon-race-type-j" (click)="setFiltering('J');" [ngClass]="displayTypeJClass"></li>
			<li class="icon-race-type-t" (click)="setFiltering('T');" [ngClass]="displayTypeTClass"></li>
			<li class="icon-race-type-d" (click)="setFiltering('D');" [ngClass]="displayTypeDClass"></li>
		</ul>
	</div>

		 	<div class="next-races__wrapper" *ngFor="let i = index; let race of nextRacesData.races | RaceTypePipe:activeFilters" [ngClass]="i<1 && race.post_time > 0 ? 'active' : 'not-active'">
				<div class="next-races__title">
					<div class="next-races__place">
						<img src="/flags/{{race.event.country}}.png"> {{ race.event.title }} 
						<span class="time blink_animation">{{ race.post_time }} min</span>
					</div>
					<div class="next-races__info">
						<span class="next-races__runners">
							{{ race.num_runners }} runners
						</span>
						<span class="next-races__distance">
							{{ race.distance }}m
						</span>
						<span class="next-races__prize">
							{{ race.purse.amount }} {{ race.purse.currency }}
						</span>
						<span class="next-races__type-icon icon-race-type-{{race.race_type.toLowerCase()}}">

						</span>
					</div>
				</div>
				<ul class="next-races__bet-list">
					<li *ngFor="let runner of race.runners">
						<img *ngIf="runner.silk !== ''" src="/silks/{{runner.silk}}">
						<span class="next-races__bet-list__name">{{runner.name}}</span>

						<span class="next-races__bet-list__odds">{{runner.odds.toFixed(1)}}</span>
					</li>
				</ul>
			</div>
</div>